<div style="height: 100px; width: 380;">
    <div style="margin-left: 45px;">
        <button (click)="sumar()" style="border-radius: 5px;height: 50px; width: 100px;"  type="button">+</button>
        <button (click)="restar()" style="border-radius: 5px;height: 50px;width: 100px;" type="button">-</button>
        <button (click)="cuadrado()" style="border-radius: 5px;height: 50px;width: 100px;" type="button">^</button>
    </div>
    <div style="margin-left: 45px;">
        <button (click)="multiplicar()" style="border-radius: 5px;height: 50px; width: 100px;"  type="button">X</button>
        <button (click)="dividir()" style="border-radius: 5px;height: 50px;width: 100px;" type="button">/</button>
        <button (click)="limpiar()" style="border-radius: 5px;height: 50px;width: 100px;" type="button">CE</button>
    </div>
</div>

